{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="shortcut icon" href="{% static 'cook-logo.png' %}" type="image/x-icon">
</head>
<body>
    <h1>
        <img src="{% static 'cook-logo.png' %}"
        class="imagem-logo">
    </h1>
    
    <h1>PersonalCheff</h1>
    <h1>Seu site de receitas</h1>

<table border="5"
class="tabela-receitas"> 
    <tr>
        <th>Receita</th>
        <th>Vídeo</th>    
        <th>Ações</th>
    </tr>
    <tr>
        <td> <img src="{% static 'logo-copo.png' %}"
            class="logo-copo">Suco de Laranja</td>
        <td><a href= https://www.youtube.com/watch?v=Nn9140bDPnc>Ver vídeo da receita</a></td>
        <td><a href="{% url 'sucodelaranja' %}"> Ver receita completa </a></td>
    </tr>
    <tr>
        <td> <img src="{% static 'logo-copo.png' %}"
            class="logo-copo">Suco de Limão</td>
        <td><a href=https://www.youtube.com/watch?v=f0H3xHf06cE >Ver vídeo da receita</a></td>
        <td><a href="{% url 'sucodelimao' %}"> Ver receita completa </a></td>
    </tr>
    
    <tr>
    <td> <img src="{% static 'logo-copo.png' %}"
        class="logo-copo">Suco de Abacaxi</td>
    <td><a href =https://www.youtube.com/watch?v=jLmFRuPv2eo >Ver vídeo da receita</a></td>
    <td><a href="{% url 'sucodeabacaxi' %}">Ver receita completa </a></td>
    
    <tr>
    <td> <img src="{% static 'logo-copo.png' %}"
        class="logo-copo">Suco de Morango</td>
    <td><a href =https://www.youtube.com/watch?v=nBm1MAObCk8 >Ver vídeo da receita</a></td>
    <td><a href="{% url 'sucodemorango' %}"> Ver receita completa </a></td>
</table>
    </table>
</body>
</html>