<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> PersonalCheff</h1>
    <h2> Receita de suco de Morango</h2>
    <h3> Modo de preparo </h3>
    <ul>
        <li> Lave os morangos </li>
        <li> Pique os morangos e bata com água ou leite </li>
        <li> Adoce a gosto </li>
    </ul>
    <p>
        <a href="{% url 'index' %}">Voltar</a>
    </p>
</body>
</html>
